/*stylesheet based on the original Codrops article demo*/

/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
section, header{
    display: block;
}
/* General Demo Style */
body{
    font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
    font-weight: 400;
    font-size: 15px;
    color: #593741;
    overflow-y: scroll;
}
a{
    color: #333;
    text-decoration: none;
}
.container{
    width: 100%;
    position: relative;
    text-align: center;
}
.clr{
    clear: both;
}
.container > header{
    padding: 20px 30px 10px 30px;
    margin: 0px 20px 10px 20px;
    position: relative;
    display: block;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
.container > header h1{
    font-family: 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    line-height: 35px;
    position: relative;
    font-weight: 400;
    color: #936975;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
    padding: 0px 0px 5px 0px;
}
.container > header h1 span{
    color: #b19099;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
.container > header h2{
    font-size: 16px;
    font-style: italic;
    color: #593741;
    text-shadow: 0px 1px 1px rgba(255,255,255,0.8);
}
