/* Rules needed for custom look */
.da-slider{
    width: 100%;
    min-width: 520px;
    height: 400px;
    position: relative;
    margin: 30px auto;
    overflow: hidden;
    background: transparent url(../images/waves.gif) repeat 0% 0%;
    border-top: 8px solid #efc34a;
    border-bottom: 8px solid #efc34a;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2), 0px -2px 1px #fff;
    transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
    font-family: 'Arial Narrow', Arial, sans-serif;
    text-align: left;
}

.da-slide .da-anim1,
.da-slide .da-anim2,
.da-slide .da-anim3,
.da-slide .da-anim4{
    position: absolute;
}

.da-slide .da-anim1{
    color: #fff;
    font-size: 66px;
    width: 50%;
    top: 60px;
    left: 10%;
    white-space: nowrap;
    z-index: 10;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 700;
}
.da-slide .da-anim2{
    width: 45%;
    top: 155px;
    left: 10%;
    color: #916c05;
    font-size: 18px;
    line-height: 26px;
    height: 80px;
    overflow: hidden;
    font-style: italic;
    font-family: 'Economica', Arial, sans-serif;
    font-weight: 400;
    font-style: italic;
}
.da-slide .da-anim4{
    text-align: center;
    width: 30%;
    top: 70px;
    height: 256px;
    line-height: 320px;
    left: 60%;
}
.da-slide .da-anim3{
    top: 270px; /*depends on p height*/
    left: 10%;
    border-radius: 30px;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    border: 8px solid rgba(255,255,255,0.8);
    padding: 2px 20px 0px;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    background: rgba(255,255,255,0.2);
}
.da-slide .da-anim3:hover{
    background: rgba(255,255,255,0.3);
}

.da-slide-current .da-anim1,
.da-slide-current .da-anim2,
.da-slide-current .da-anim3{
    left: 10%;
    opacity: 1;
}
.da-slide-current .da-anim4{
    left: 60%;
    opacity: 1;
}

.da-dots span{
    display: inline-block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #e4b42d;
    margin: 3px;
    cursor: pointer;
    box-shadow: 
        1px 1px 1px rgba(0,0,0,0.1) inset, 
        1px 1px 1px rgba(255,255,255,0.1);
}