.da-slider{
	height: 400px;
	position: relative;
	overflow: hidden;
	transition: background-position 1.4s ease-in-out 0.3s;
}
.da-slide{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
}
.da-slide-current{
	z-index: 1000;
}
.da-slide .da-anim1,
.da-slide .da-anim2,
.da-slide .da-anim3,
.da-slide .da-anim4{
	opacity: 0;
}
.da-dots{
	width: 100%;
	position: absolute;
	text-align: center;
	left: 0px;
	bottom: 20px;
	z-index: 2000;
	user-select: none;
}
.da-dots span{
	display: inline-block;
	position: relative;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.6);
	margin: 3px;
	cursor: pointer;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
}
.da-dots span.da-dots-current:after{
	content: '';
	width: 8px;
	height: 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	border-radius: 50%;
	background: rgb(255,255,255);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1)));
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 );
}
.da-arrows{
	user-select: none;
}
.da-arrows span{
	position: absolute;
	top: 50%;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	background: rgba(0,0,0,0.6);
	cursor: pointer;
	z-index: 2000;
	opacity: 0;
	box-shadow: 
		1px 1px 1px rgba(0,0,0,0.1) inset, 
		1px 1px 1px rgba(255,255,255,0.1);
	transition: opacity 0.4s ease-in-out 0.2s;
}
.da-slider:hover .da-arrows span{
	opacity: 1;
}
.da-arrows span:after{
	color: white;
	line-height: 16px;
	font-size: 30px;
	font-family: Times, Serif;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 5px;
	left: 5px;
	border-radius: 50%;
	box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.da-arrows span:hover:after{
	box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
}
.da-arrows span:active:after{
	box-shadow: 1px 1px 1px rgba(255,255,255,0.1);
}
.da-arrows span.da-arrows-prev:after{
	content: "\2039";
}
.da-arrows span.da-arrows-next:after{
	content: "\203A";
}
.da-arrows span.da-arrows-prev{
	left: 15px;
}
.da-arrows span.da-arrows-next{
	right: 15px;
}

.da-slide-current .da-anim1,
.da-slide-current .da-anim2,
.da-slide-current .da-anim3{
	opacity: 1;
}
.da-slide-current .da-anim4{
	opacity: 1;
}

/* Animation classes and animations */

/* Slide in from the right*/
.da-slide-fromright .da-anim1{
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-anim2{
	animation: fromRightAnim1 0.6s ease-in 0.8s both;
}
.da-slide-fromright .da-anim3{
	animation: fromRightAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromright .da-anim4{
	animation: fromRightAnim4 0.6s ease-in 0.8s both;
}

@keyframes fromRightAnim1{
	0%{ transform: translateX(110vw); opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes fromRightAnim3{
	0%{ transform: translateX(110vw); opacity: 0; }
	1%{ transform: translateX(0); opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes fromRightAnim4{
	0%{ transform: translateX(110vw); opacity: 0; }
	100%{ transform: translateX(0); opacity: 1; }
}
/* Slide in from the left*/
.da-slide-fromleft .da-anim1{
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-anim2{
	animation: fromLeftAnim1 0.6s ease-in 0.6s both;
}
.da-slide-fromleft .da-anim3{
	animation: fromLeftAnim3 0.4s ease-in 1.2s both;
}
.da-slide-fromleft .da-anim4{
	animation: fromLeftAnim4 0.6s ease-in 0.6s both;
}

@keyframes fromLeftAnim1{
	0%{ transform: translateX(-110vw); opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes fromLeftAnim3{
	0%{transform: translateX(-110vw); opacity: 0; }
	1%{ transform: translateX(0); opacity: 0; }
	100%{ opacity: 1; }
}
@keyframes fromLeftAnim4{
	0%{ transform: translateX(-110vw); opacity: 0; }
	100%{ transform: translateX(0); opacity: 1; }
}
/* Slide out to the right */
.da-slide-toright .da-anim1{
	animation: toRightAnim1 0.6s ease-in 0.6s both;
}
.da-slide-toright .da-anim2{
	animation: toRightAnim1 0.6s ease-in 0.3s both;
}
.da-slide-toright .da-anim3{
	animation: toRightAnim3 0.4s ease-in both;
}
.da-slide-toright .da-anim4{
	animation: toRightAnim4 0.6s ease-in both;
}

@keyframes toRightAnim1{
	0%{ opacity: 1; }
	100%{ transform: translateX(100vw); opacity: 0; }
}
@keyframes toRightAnim3{
	0%{ transform: translateX(0); opacity: 1; }
	99%{ transform: translateX(0); opacity: 0; }
	100%{ transform: translateX(100vw); opacity: 0; }
}
@keyframes toRightAnim4{
	0%{ opacity: 1; }
	30%{ transform: translateX(-5vw);  opacity: 1; }
	100%{ transform: translateX(100vw); opacity: 1; }
}
/* Slide out to the left*/
.da-slide-toleft .da-anim1{
	animation: toLeftAnim1 0.6s ease-in both;
}
.da-slide-toleft .da-anim2{
	animation: toLeftAnim1 0.6s ease-in 0.3s both;
}
.da-slide-toleft .da-anim3{
	animation: toLeftAnim3 0.4s ease-in both;
}
.da-slide-toleft .da-anim4{
	animation: toLeftAnim4 0.6s ease-in 0.6s both;
}

@keyframes toLeftAnim1{
	0%{  opacity: 1; }
	30%{ transform: translateX(5vw);  opacity: 1; }
	100%{ transform: translateX(-50vw); opacity: 0; }
}
@keyframes toLeftAnim3{
	0%{ transform: translateX(0); opacity: 1; }
	99%{ transform: translateX(0); opacity: 0; }
	100%{ transform: translateX(-50vw); opacity: 0; }
}
@keyframes toLeftAnim4{
	0%{ opacity: 1; }
	40%{ transform: translateX(10vw);  opacity: 1; }
	90%{ transform: translateX(-40vw);  opacity: 0; }
	100%{ transform: translateX(-50vw); opacity: 0; }
}